.container{
    border: 2px red solid;
    float:left;
    width:80%;
    margin-left:10px;
}

.item1{
    border:2px green solid;
    padding:50px;
    float:right;
    width: 200px;
    height: 400px;
    margin-right:30px;

}